{% extends "base.html" %}
{% block content %}
    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Nos Produits</h1>
        <p>Découvrez notre gamme complète de compléments alimentaires</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Produits</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Section Produits -->
    <section id="featured-products" class="team section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Tous nos produits</h2>
        <p>Une sélection complète de produits pour votre santé et bien-être.</p>
      </div>

      <div class="container">
        <div class="row">
          <!-- Produit 1: A-Z Depot -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/a-z-depot" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/52841/27819/image-thumb__27819__288x288_noalpha/4009932415285_DHA_A_Z_Depot_Tbl_30_fr_52841@1.5x.89c8a2fd.webp" class="img-fluid" alt="A-Z Depot">
              </a>
              <div class="member-content">
                <h4>A-Z Depot</h4>
                <span>Minéraux et vitamines</span>
                <p>Complément alimentaire multivitaminé complet pour un soutien santé quotidien. 30 comprimés.</p>
                <a href="/produit/a-z-depot" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 2: Aktiv Detox -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/aktiv-detox" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/16641/42134/image-thumb__42134__288x288_noalpha/4009932411669_DHA_Aktiv_Detox_Kap_30_fr_16641@1.5x.35e9a906.webp" class="img-fluid" alt="Aktiv Detox">
              </a>
              <div class="member-content">
                <h4>Aktiv Detox</h4>
                <span>Digestion</span>
                <p>Complément alimentaire pour une détoxification naturelle de l'organisme. 30 gélules.</p>
                <a href="/produit/aktiv-detox" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 3: Aktiv-Oméga-3 -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <a href="/produit/aktiv-omega-3" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/11441/25562/image-thumb__25562__288x288_noalpha/4009932411942_DHA_Aktiv_Omga_3_Kap_60_fr_19441@1.5x.c6ff72b5.webp" class="img-fluid" alt="Aktiv-Oméga-3">
              </a>
              <div class="member-content">
                <h4>Aktiv-Oméga-3</h4>
                <span>Acides gras oméga 3</span>
                <p>Complément alimentaire riche en acides gras essentiels pour la santé cardiovasculaire. 60 gélules.</p>
                <a href="/produit/aktiv-omega-3" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 4: Aktiv-Sélénium -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/aktiv-selenium" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/41341/25627/image-thumb__25627__288x288_noalpha/4009932414134_DHA_Aktiv_Slnium_Tbl_30_fr_41341@1.5x.2f977bb5.webp" class="img-fluid" alt="Aktiv-Sélénium">
              </a>
              <div class="member-content">
                <h4>Aktiv-Sélénium</h4>
                <span>Système immunitaire</span>
                <p>Complément alimentaire pour renforcer le système immunitaire et la protection cellulaire. 30 comprimés.</p>
                <a href="/produit/aktiv-selenium" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 5: Capilvit -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/capilvit" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/51941/25674/image-thumb__25674__288x288_noalpha/4009932415193_DHA_Capilvit__Kap_30_fr_51941@1.5x.e0755d83.webp" class="img-fluid" alt="Capilvit">
              </a>
              <div class="member-content">
                <h4>Capilvit</h4>
                <span>Peau, cheveux et ongles</span>
                <p>Complément alimentaire pour la beauté des cheveux, peau et ongles. 30 gélules.</p>
                <a href="/produit/capilvit" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 6: Coenzyme Q10 -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <a href="/produit/coenzyme-q10" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/59941/25558/image-thumb__25558__288x288_noalpha/4009932415995_DHA_Coenzyme_Q10_Kap_30_fr_59941@1.5x.41a7f5d4.webp" class="img-fluid" alt="Coenzyme Q10">
              </a>
              <div class="member-content">
                <h4>Coenzyme Q10</h4>
                <span>Énergie et performances</span>
                <p>Complément alimentaire pour l'énergie cellulaire et la vitalité. 30 gélules.</p>
                <a href="/produit/coenzyme-q10" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 7: Harmonivit -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/harmonivit" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/61641/25546/image-thumb__25546__288x288_noalpha/4009932416169_DHA_Harmonivit_Tbl_30_fr_61641@1.5x.e9edd3c8.webp" class="img-fluid" alt="Harmonivit">
              </a>
              <div class="member-content">
                <h4>Harmonivit</h4>
                <span>Nerfs et humeur</span>
                <p>Complément alimentaire pour l'équilibre nerveux et émotionnel. 30 comprimés.</p>
                <a href="/produit/harmonivit" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 8: IMMUN Junior -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/immun-junior" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/64841/41262/image-thumb__41262__288x288_noalpha/4009932416480_DHA_IMMUN_Junior_ml_200_fr_64841_6900bc567d50f@1.5x.f0c89c7f.webp" class="img-fluid" alt="IMMUN Junior">
              </a>
              <div class="member-content">
                <h4>IMMUN Junior</h4>
                <span>Système immunitaire enfants</span>
                <p>Complément alimentaire pour renforcer l'immunité des enfants. 200 millilitres.</p>
                <a href="/produit/immun-junior" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 9: KOLLAGEN BEAUTY -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <a href="/produit/kollagen-beauty" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/57041/38953/image-thumb__38953__288x288_noalpha/4009932415704_DHS_KOLLAGEN_BEAUTY_Trinkampl_30_fr_57041@1.5x.0cb6e94f.webp" class="img-fluid" alt="KOLLAGEN BEAUTY">
              </a>
              <div class="member-content">
                <h4>KOLLAGEN BEAUTY</h4>
                <span>Peau, cheveux et ongles</span>
                <p>Complément alimentaire au collagène pour une peau éclatante et des cheveux sains. 30 flacons.</p>
                <a href="/produit/kollagen-beauty" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 10: Lacto-Pro -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/lacto-pro" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/20941/36606/image-thumb__36606__288x288_noalpha/4009932413090_DHA_Lacto_Pro_Kap_20_fr_20941@1.5x.d4c2c0dc.webp" class="img-fluid" alt="Lacto-Pro">
              </a>
              <div class="member-content">
                <h4>Lacto-Pro</h4>
                <span>Digestion</span>
                <p>Complément alimentaire probiotique pour l'équilibre de la flore intestinale. 20 gélules.</p>
                <a href="/produit/lacto-pro" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 11: Magnésium -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/magnesium" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/71441/25538/image-thumb__25538__288x288_noalpha/4009932417142_DHA_Magnsium_Tbl_30_fr_71441@1.5x.ce5b61d2.webp" class="img-fluid" alt="Magnésium">
              </a>
              <div class="member-content">
                <h4>Magnésium</h4>
                <span>Muscles et énergie</span>
                <p>Complément alimentaire pour soutenir la fonction musculaire et réduire la fatigue. 30 comprimés.</p>
                <a href="/produit/magnesium" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 12: Magnésium Nuit -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <a href="/produit/magnesium-nuit" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/62441/42443/image-thumb__42443__288x288_noalpha/4009932416558_DHA_Magnsium_Nuit__Tbl_30_fr_62441_690b4cf3b104d@1.5x.1f10577c.webp" class="img-fluid" alt="Magnésium Nuit">
              </a>
              <div class="member-content">
                <h4>Magnésium Nuit</h4>
                <span>Sommeil et relaxation</span>
                <p>Complément alimentaire au magnésium pour favoriser un sommeil réparateur. 30 comprimés.</p>
                <a href="/produit/magnesium-nuit" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 13: Mémovit -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/memovit" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/27041/25665/image-thumb__25665__288x288_noalpha/4009932412703_DHA_Mmovit_Kap_30_fr_27041@1.5x.cd72c2a4.webp" class="img-fluid" alt="Mémovit">
              </a>
              <div class="member-content">
                <h4>Mémovit</h4>
                <span>Mémoire et concentration</span>
                <p>Complément alimentaire pour soutenir les fonctions cognitives et la mémoire. 30 gélules.</p>
                <a href="/produit/memovit" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 14: Men Aktiv -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/men-aktiv" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/65241/25550/image-thumb__25550__288x288_noalpha/4009932416527_DHA_Men_Aktiv_Kap_30_fr_65241@1.5x.c9e39b9c.webp" class="img-fluid" alt="Men Aktiv">
              </a>
              <div class="member-content">
                <h4>Men Aktiv</h4>
                <span>Santé des hommes</span>
                <p>Complément alimentaire spécialement formulé pour la vitalité masculine. 30 gélules.</p>
                <a href="/produit/men-aktiv" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 15: Omega-3 Junior -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <a href="/produit/omega-3-junior" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/15041/41259/image-thumb__41259__288x288_noalpha/4009932411508_DHA_Omega_3_Junior_ml_150_fr_15041_6900d21e1d497@1.5x.12c98c4d.webp" class="img-fluid" alt="Omega-3 Junior">
              </a>
              <div class="member-content">
                <h4>Omega-3 Junior</h4>
                <span>Oméga-3 enfants</span>
                <p>Complément alimentaire en oméga-3 adapté aux enfants. 150 millilitres.</p>
                <a href="/produit/omega-3-junior" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 16: Osseovit -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/osseovit" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/13241/25668/image-thumb__25668__288x288_noalpha/4009932411324_DHA_Osseovit_Tbl_30_fr_13241@1.5x.db42fdec.webp" class="img-fluid" alt="Osseovit">
              </a>
              <div class="member-content">
                <h4>Osseovit</h4>
                <span>Muscles, ossature, mobilité</span>
                <p>Complément alimentaire pour la santé des os et des articulations. 30 comprimés.</p>
                <a href="/produit/osseovit" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 17: Prostacalm -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/prostacalm" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/14541/25631/image-thumb__25631__288x288_noalpha/4009932411454_DHA_Prostacalm_Kap_30_fr_14541@1.5x.61c2e7e8.webp" class="img-fluid" alt="Prostacalm">
              </a>
              <div class="member-content">
                <h4>Prostacalm</h4>
                <span>Santé des hommes</span>
                <p>Complément alimentaire pour le confort urinaire et la santé de la prostate. 30 gélules.</p>
                <a href="/produit/prostacalm" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 18: Uricalm -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <a href="/produit/uricalm" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/64641/25542/image-thumb__25542__288x288_noalpha/4009932416466_DHA_Uricalm_Tbl_30_fr_64641@1.5x.d8e65a7f.webp" class="img-fluid" alt="Uricalm">
              </a>
              <div class="member-content">
                <h4>Uricalm</h4>
                <span>Confort urinaire</span>
                <p>Complément alimentaire pour le bien-être urinaire et rénal. 30 comprimés.</p>
                <a href="/produit/uricalm" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 19: Vital Yeux -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <a href="/produit/vital-yeux" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/73841/27827/image-thumb__27827__288x288_noalpha/4009932417388_DHA_Vital_Yeux_Kap_30_fr_73841@1.5x.3e4e99e2.webp" class="img-fluid" alt="Vital Yeux">
              </a>
              <div class="member-content">
                <h4>Vital Yeux</h4>
                <span>Santé oculaire</span>
                <p>Complément alimentaire pour la santé et le confort des yeux. 30 gélules.</p>
                <a href="/produit/vital-yeux" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

          <!-- Produit 20: Zinc + Histidine -->
          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <a href="/produit/zinc-histidine" class="stretched-link">
                <img src="https://pim.doppelherz.ma/ma/18841/25623/image-thumb__25623__288x288_noalpha/4009932411881_DHA_ZincHistidine_Tbl_30_fr_18841@1.5x.be5c2e6e.webp" class="img-fluid" alt="Zinc + Histidine">
              </a>
              <div class="member-content">
                <h4>Zinc + Histidine</h4>
                <span>Système immunitaire</span>
                <p>Complément alimentaire combinant zinc et histidine pour renforcer l'immunité. 30 comprimés.</p>
                <a href="/produit/zinc-histidine" class="btn btn-get-started btn-sm">Plus de détails</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}