
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Main JS File -->
<script src="static/assets/js/main.js"></script>

<script>
  $(document).ready(function() {
    $('#contact-form').on('submit', function(event) {
      event.preventDefault();
      
      var $form = $(this);
      var $loading = $('.contact-message.loading');
      var $sent = $('.contact-message.sent-message');
      var $error = $('.contact-message.error-message');
      
      // Réinitialiser les messages
      $loading.addClass('hidden');
      $sent.addClass('hidden');
      $error.addClass('hidden');
      
      // Afficher le loading
      $loading.removeClass('hidden');
      
      $.ajax({
        url: $form.attr('action'),
        type: $form.attr('method'),
        data: $form.serialize(),
        dataType: 'json',
        success: function(response) {
          $loading.addClass('hidden');
          $sent.removeClass('hidden');
          $form[0].reset(); // Réinitialiser le formulaire
          
          // Optionnel : masquer le message de succès après 5 secondes
          setTimeout(function() {
            $sent.addClass('hidden');
          }, 5000);
        },
        error: function(xhr) {
          $loading.addClass('hidden');
          
          var errorMsg = 'Une erreur est survenue. Veuillez réessayer.';
          if (xhr.responseJSON && xhr.responseJSON.error) {
            errorMsg = xhr.responseJSON.error;
          } else if (xhr.responseText) {
            errorMsg = xhr.responseText;
          }
          
          $error.find('p').text(errorMsg);
          $error.removeClass('hidden');
          
          // Optionnel : masquer l'erreur après 8 secondes
          setTimeout(function() {
            $error.addClass('hidden');
          }, 8000);
        }
      });
    });
  });
</script>